{% extends "base.html" %}
{% block 'nav' %}Equipment Management{% endblock 'nav' %}
{% block 'content' %}
{% load static %}
<div class='p-3'>
  <div  class='grid grid-cols-4 gap-4 mb-20'>
    <div class='bg-gradient-to-br from-blue-700 to-blue-400 rounded-2xl pl-7 py-4 text-white hover:shadow-xl hover:translate-y-[-1px] cursor-pointer'>
      <p class='font-semibold'><Table>Total Equipment</Table></p>
      <h2 class='text-[55px] font-sans  leading-[.9]'>{{count}}</h2>
      <p class='text-[13px] mt-2'>{{category}} Categories</p>
      
    </div>
    <div class='bg-gradient-to-br from-green-600 to-green-400  rounded-2xl pl-7 py-3 text-white hover:shadow-xl hover:translate-y-[-1px] cursor-pointer'>
      <p class='font-semibold'>Available Now</p>
      <h2 class='text-[55px] font-sans  leading-[.9]'>{{available}}</h2>
      <p class='text-[13px] mb-5 mt-2'>{{available_percent}}% Available</p>
     
    </div>
    <div class='bg-gradient-to-br from-violet-700 to-violet-400  rounded-2xl pl-7 py-3 text-white hover:shadow-xl hover:translate-y-[-1px] cursor-pointer'>
      <p class='font-semibold'>Currently Rented</p>
      <h2 class='text-[55px] font-sans  leading-[.9]'>{{rented}}</h2>
      <p class='text-[13px] mb-5 mt-2'>{{rented_percent}}% Utilization</p>
   
    </div>
    <div class='bg-gradient-to-br from-red-700 to-red-400 rounded-xl pl-7 py-3 text-white hover:shadow-xl hover:translate-y-[-1px] cursor-pointer'>
      <p class='font-semibold'>Under Maintenance</p>
      <h2 class='text-[55px] font-sans  leading-[.9]'>0</h2>
      <p class='text-[13px] mb-5 mt-2'>All Operations</p>
   
    </div>
  </div>

  <div class='flex w-full justify-between bg-white mt-5 border border-gray-50 shadow-md  py-3 pl-7 rounded-md pr-5'>
    <div class='text-xl'>Equipment Inventory</div> 

    <ul class='flex gap-4'>
      <a href="/equipments/list/" class=" px-5 rounded-full text-center text-sm flex items-center   {% if request.path == '/equipments/list/' %}bg-blue-700 text-white{% else %}bg-blue-50  text-gray-400{% endif %}">
        <li>All</li>
      </a>
      <a href="/equipments/available/" class="bg-blue-50 px-5 rounded-full text-center text-sm flex items-center text-gray-400 ">
        <li >Available</li>
      </a>
      <a href="/equipments/rented/" class="bg-blue-50 px-5 rounded-full text-center text-sm flex items-center text-gray-400 ">
        <li >rented</li>
      </a>
      <li class='bg-blue-50 px-5 rounded-full text-center text-sm flex items-center text-gray-400'>Maintenance</li>
      <a href="/equipments/add/" class='bg-blue-700 font-semibold px-5 rounded-md text-center text-sm flex items-center text-white'>
        <li >+Add Equipment</li>
      </a>
      
    </ul>
  </div>
 

  <div class='grid grid-cols-4 p-5 gap-4 mt-2'>
    {% for equipment in equipments %}
    <div class='bg-white px-4 pb-5 rounded-xl shadow-lg pt-3'>
        <div class='flex justify-center items-center bg-slate-50 p-4 h-40'>
            {% if equipment.image %}
                <img class='w-auto h-full object-contain' 
                     src="{{ equipment.image.url }}" 
                     alt="{{ equipment.name }}">
            {% else %}
                <div class='text-gray-400'>No image available</div>
            {% endif %}
        </div>
        <p class='font-semibold text-center text-xl leading-[.9] mt-2'>{{ equipment.name }}</p>
        <p class='text-gray-500 text-center text-[13px] leading-1'>
            ₱{{ equipment.daily_rate }}/day ID: EQ00{{ equipment.equipment_id }}
        </p>
        <div class='flex items-center justify-center mt-2'>
            <span class='px-4 py-1   {% if equipment.available_quantity >= 1 %} text-green-700  bg-green-100 {% else %}bg-red-100 text-red-700{% endif %} rounded-full text-[12px]'>{% if equipment.available_quantity == 0 %}Out of Stock {% elif equipment.available_quantity >= 1 %}
                {{ equipment.available_quantity }} of {{ equipment.total_quantity }}  Available   {% endif %}
            </span>
        </div>
    </div>
    {% endfor %}
</div>
  
</div>
{% endblock 'content' %}

