<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
   <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>

<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 pb-10 h-screen transition-transform shadow-lg -translate-x-full sm:translate-x-0" aria-label="Sidebar" >
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 relative ">
      <a href="https://flowbite.com/" class="">
        <div class='text-center p-1 text-white mb-7 rounded-lgdark:hover:bg-blue-100 bg-gradient-to-br from-blue-800 to-blue-400 rounded-lg'>
          <p class='text-xl font-bold tracking-wider '>Equipment</p>
          <h4 class='text-[11px]'>Rental Management</h4>
        </div>
      </a>
      <ul class="space-y-2 font-medium {% if request.path|slice:":25" == "/booking/mark_as_returned" %} 
      cursor-none pointer-events-none
   {% endif %} > " >
         <li>

            <a href="{% url 'info' %}" class="flex items-center p-2  rounded-lg     {% if request.path == '/' %}dark:bg-blue-200 text-blue-700 dark:hover:bg-blue-200 {% else %}opacity-100{% endif %} dark:hover:bg-blue-50">
               <div class='shrink-0 w-6 h-6'>📊</div>
               <span class="ms-3 ">Dashboard</span>
            </a>
         </li>
         <li>
            <a href="/equipments/list" class="flex items-center p-2  rounded-lg    {% if request.path|slice:":11" == "/equipments" %} 
      dark:bg-blue-200 dark:hover:bg-blue-200 text-blue-700 
   {% else %} 
      dark:hover:bg-blue-50 
   {% endif %} ">
               <div class='shrink-0 w-6 h-6'>📦</div>
               <span class="ms-3">Equipment</span>
            </a>
         </li>
         <li>
            <a href="/customers/list/" class="flex items-center p-2  rounded-lg {% if request.path|slice:":10" == "/customers" %} 
      dark:bg-blue-200 dark:hover:bg-blue-200 text-blue-700 
   {% else %} 
      dark:hover:bg-blue-50 
   {% endif %}  ">
               <div class='shrink-0 w-6 h-6'>👥</div>
               <span class="ms-3">Customers</span>
            </a>
         </li>
         <li>
               <a href="/booking/list" class="flex items-center p-2 text-gray-900 rounded-lg {% if request.path|slice:":8" == "/booking" %} 
      dark:bg-blue-200 dark:hover:bg-blue-200 text-blue-700 
   {% else %} 
      dark:hover:bg-blue-50 
   {% endif %}  ">
               <div class='shrink-0 w-6 h-6'>📅</div>
               <span class="ms-3">Rentals</span>
            </a>
         </li>
         <li>
            <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg  dark:hover:bg-blue-50 ">
               <div class='shrink-0 w-6 h-6'>📈</div>
               <span class="ms-3">Reports</span>
            </a>
         </li>
         
         
      </ul>
      <div class='bg-gray-100 border border-gray-200 shadow-xl p-2 pl-5 rounded-lg absolute bottom-0 left-4 right-4  '>
        <a href="" class='flex items-center'>
          <div class='bg-blue-700 text-white py-1 px-2 rounded-full mr-4'>JD</div>
          <div>
            <h3 class='font-semibold text-sm/4 '>John Doe</h3>
            <h4 class='text-[11px] my-0 text-gray-400'>Administrator</h4>
          </div>
        </a>
        

      </div>
   </div>
</aside>
